<div>

    <section data-dashboard="trade">

        <div class="row">
            <div class="col-xs-12">

                TRADE

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <h1>{{ title }}</h1>

                <p>{{ capital_city }}</p>

                <p>{{ flag }}</p>

                <p>{{ gaul_code }}</p>

                <p>{{ area }}</p>

                <p>{{ currency }}</p>

            </div>
        </div>

    </section>

    <section data-dashboard="livestock">

        Livestock

    </section>

    <section data-dashboard="crops">

  COPRS


    </section>

</div>