<div>

    <section data-dashboard="resume">

        <div class="row">
            <div class="col-xs-12">

                MAP

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <h1>{{ title }}</h1>

                <p>{{ capital_city }}</p>

                <p>{{ flag }}</p>

                <p>{{ gaul_code }}</p>

                <p>{{ area }}</p>

                <p>{{ currency }}</p>

            </div>
        </div>

    </section>

    <section data-dashboard="population">
                 <div class="row">
                            <div class="col-xs-12">
                                <h1>Mid-year population by age group</h1>

                                <div id="population-1"></div>
                            </div>
                        </div>

                         <div class="row">
                                    <div class="col-xs-12">
                                        <h1>Mid-year population by sex</h1>

                                        <div id="population-2"></div>
                                    </div>
                                </div>





                          <div class="row">
                                  <div class="col-xs-12">
                                  <h1>Crude bith rate per 1000 populationx</h1>

                                  <div id="population-3"></div>
                                    </div>
                                    </div>






                                    <div class="row">
                       <div class="col-xs-12">
                               <h1>Average annual growth</h1>

                              <div id="population-4"></div>
                                  </div>
                                  </div>




                                    <div class="row">
                       <div class="col-xs-12">
                               <h1>Average annual growth rate</h1>

                              <div id="population-5"></div>
                                  </div>
                                  </div>

                                    <div class="row">
                       <div class="col-xs-12">
                               <h1>Mid-year population</h1>

                              <div id="population-6"></div>
                                  </div>
                                  </div>


    </section>

    <section data-dashboard="education">

        <div class="row">
            <div class="col-xs-12">
                <h1>Enrolment primary school</h1>

                <div id="education-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Enrolment primary school by gender</h1>

                <div id="education-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Literacy rate by gender</h1>

                <div id="education-3"></div>
            </div>
        </div>


    </section>

    <section data-dashboard="health">

    </section>

    <section data-dashboard="labour">

    </section>

    <!-- Economic statistics-->

    <section data-dashboard="balance_of_payments">

    </section>

    <section data-dashboard="gdp_constant">

    </section>


    <section data-dashboard="gdp_current">

    </section>

    <section data-dashboard="monetary_statistics">

    </section>

    <section data-dashboard="public_finance">

    </section>

    <section data-dashboard="energy">

    </section>

    <section data-dashboard="imports">

    </section>

    <!-- Environment and multi-Domain statistics-->
    <section data-dashboard="infrastructure">

    </section>

    <section data-dashboard="poverty">

    </section>


</div>