<!-- Selectors -->
<div data-role="selectors" class="row download-selectors">

    <!-- Indicator Container-->
    <div class="col-sm-3" data-selector="indicator">
        <div class="row">
            <div class="col-xs-12">
                  <h1> {{ selector_indicator_title }}</h1>
                    <input type="text" data-role="filter" value="" placeholder="Search" class="input form-control">
             </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="rlm-tree-selector selector-indicator"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" >
                    <button data-select="none" type="button" class="btn ">{{ selector_select_none }} </button>
                    <button data-select="all" type="button" class="btn ">{{ selector_select_all }} </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Country Container-->
    <div class="col-sm-3" data-selector="country">
        <div class="row">
            <div class="col-xs-12">
                <h1> {{ selector_country_title }}</h1>
                <input type="text" data-role="filter" value="" placeholder="Search" class="input form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="rlm-tree-selector selector-country"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" >
                    <button data-select="none" type="button" class="btn ">{{ selector_select_none }} </button>
                    <button data-select="all" type="button" class="btn ">{{ selector_select_all }} </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Year Container-->
    <div class="col-sm-3" data-selector="year">
        <div class="row">
            <div class="col-xs-12">
                <h1> {{ selector_year_title }}</h1>
<!--
                <input type="text" data-role="filter" value="" placeholder="Search" class="input form-control">
-->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="rlm-tree-selector selector-year"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" >
                    <button data-select="none" type="button" class="btn ">{{ selector_select_none }} </button>
                    <button data-select="all" type="button" class="btn ">{{ selector_select_all }} </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Qualifier Container-->
    <div class="col-sm-3" data-selector="qualifier">
        <div class="row">
            <div class="col-xs-12">
                <h1> {{ selector_qualifier_title }}</h1>
                <input type="text" data-role="filter" value="" placeholder="Search" class="input form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="rlm-tree-selector selector-qualifier"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" role="group" >
                    <button data-select="none" type="button" class="btn ">{{ selector_select_none }} </button>
                    <button data-select="all" type="button" class="btn ">{{ selector_select_all }} </button>
                </div>
            </div>
        </div>
    </div>

</div>